<!DOCTYPE html>
<html>
<head>
  <title>iOSFU</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <!-- Left -->
      <a class="navbar-brand" href="/">
        iOSFU
      </a>
      <ul class="nav navbar-nav">
        {% for category in categories %}
        <li {% if current.category == category %}class="active"{% endif %}>
          <a href="/{{ category }}">{{ category|title }}</a>
        </li>
        {% endfor %}
      </ul>
      
      <!-- Right -->
      <p class="navbar-text navbar-right">
        {% if session.backup %}
          {{ session.backup }}
        {% else %}
          No backup selected
        {% endif %}
      </p>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Change  <b class="caret"></b>
          </a>
          <!-- Backup list -->
          <ul class="dropdown-menu text-right">
            {% for backup_id in backups %}
            <li>
              {% if backups[backup_id].valid %}
              <a href="/backup/{{ backup_id }}/">{{ backup_id }}</a>
              {% else %}
              <a href="/backup/{{ backup_id }}/" data-toggle="tooltip" title="This backup seems invalid" data-placement="left">
                {{ backup_id }} 
                <span class="glyphicon glyphicon-exclamation-sign text-danger"></span>
              </a>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
    <ol class="breadcrumb">
      <li><a href="/">iOSFU</a></li>
      {% if current.category %}
      <li><a href="/{{ current.category }}/">{{ current.category|title }}</a></li>
      {% endif %}
      {% if current.panel %}
      <li class="active">
        <a href="/{{ current.category }}/{{ current.panel.id }}/">{{ current.panel.name }}</a>
      </li>
      {% endif %}
      {% if current.section %}
      <li class="active">
        <!-- <a href="/{{ current.category }}/{{ current.panel }}/{{ current.section }}"> -->
        {{ current.section }}
        <!-- </a> -->
      </li>
      {% endif %}
    </ol>
  </div>

  <!-- JS -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript">
  // Init tooltips
  $(function(){
    $('[data-toggle=tooltip]').tooltip()
  });
  </script>
</body>
</html>
